<!-- Footer -->
<div id="footer-wrapper">
    <div class="container">
        <div class="row">
 <div class="col-8 col-12-medium">

                <section>
                    <h2>Армія Info</h2>
                    <div>
                        <div class="row">
                            <div class="col-3 col-6-medium col-12-small">
                                <ul class="link-list">
                                    <nav id="nav">
                                    <li>Головне</li> 
                                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Головна сторінка</a></li>
                                    <li><a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Новини</a></li>
                                    <li><a href="#">Допомога ЗСУ</a></li>
                                    <li><a href="#">Інформація про проект</a></li>
                                    </nav>
                                </ul>
                            </div>
                            <div class="col-3 col-6-medium col-12-small">
                                <ul class="link-list">
                                    <li>Соцмережі АрміяInfo</li>
                                    <li><a href="#">Facebook</a></li>
                                    <li><a href="#">Instagram</a></li>
                                    <li><a href="#">Twitter</a></li>
                                    <li><a href="#">Telegram</a></li>
                                </ul>
                            </div>
                            <div class="col-3 col-6-medium col-12-small">
                                <ul class="link-list">
                                    <li>Наші контакти</li>
                                    <li>Gmail:<a href="#">armiainfo@myarmiainfo.com</a></li>
                                    <li>Телефон:<a href="#">+380(111)11 11 11</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <div class="col-4 col-12-medium">

                <section>
                    <h2>Інформаційне агенство АрміяInfo</h2>
                    <p>
                        Зауваження та пропозиції по роботі сайту надсилайте на адресу: info@armyinform.com.ua
                    </p>
                    <footer class="controls">
                    </footer>
                </section>

            </div>
        </div>
        <div class="row">
            <div class="col-12">

                <div id="copyright">
                    &copy; 2022 Інформаційне агентство АрміяInform | Design: <a href="http://html5up.net">HTML5 UP</a>
                </div>

            </div>
        </div>
    </div>
</div>